<html>
    <head>
    <!--http://bootsnipp.com/snippets/MR9Al-->
        <title>Preview</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../static/login.css" rel="stylesheet">
    </head>
    <body>
        <div class="login-page">
            <div class="form">
				<ul>
				{% for list in migrants %}
                    <li><p></p></li>
                {% endif %}
				</ul>
                
                
            </div>
        </div>
    </body>
</html>


</html>
